@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  /*--------------------- Banner -------------------------*/
  .banner {
    padding-top: 188px;
    padding-bottom: 188px;
    width: 1440px;
  }
  .banner-title {
    width: 496px;
    font-size: 56px;
    margin-bottom: 48px;
  }

  .four-section-icon {
    background-color: #f4f4fd;
    display: flex;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin: 0 auto 8px;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
  }
  .four-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .four-section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 264px;
    margin: 0 auto;
  }
  .four-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-top: 0;
    margin-bottom: 8px;
  }
  .four-section-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 auto;
  }

  /*----------------- What are we doing ------------------------*/
  .case {
    display: flex;
    margin: 0 auto;
    padding-bottom: 120px;
  }
  .case-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-transform: capitalize;
  }
  .case-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin-top: 72px;
    margin-bottom: 0;
  }
  /*---------------------- Team-------------------------------------- */
  .team {
    padding: 120px 0;
  }
  .team-item {
    width: calc((100% - 72) / 4);
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
  /* ----------------------Customers-------------------------- */
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /*---------------------------- Footer ----------------------------*/
  .footer {
    padding: 100px 0;
  }
  .flex {
    display: flex;
  }

  .footer-link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    margin: 0 auto;
    display: flex;
    justify-content: left;
  }
  .footer-span {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
    display: flex;
    width: 264px;
    margin-top: 16px;
  }
  .footer .container {
    flex-wrap: nowrap;
    max-width: 1158px;
  }
  /*------------------------------- Social Media -----------------------*/
  .socail-media {
    width: 208px;
    height: 80px;
    margin-left: 120px;
  }
  .social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin: 0 auto 16px;
    display: flex;
    justify-content: left;
  }

  .input-subs {
    min-width: 264px;
  }
  .subscribe {
    display: block;
    margin-left: 80px;
  }
  .subs-form {
    display: flex;
    flex-direction: row;
  }
  .subs-btn {
    margin-top: 0;
    margin-left: 24px;
  }
}
