@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .four-section-icon {
    background-color: #f4f4fd;
    display: flex;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin: 0 auto 8px;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
  }
  .four-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .four-section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 264px;
    margin: 0 auto;
  }
  .four-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-top: 0;
    margin-bottom: 8px;
  }
  .four-section-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 auto;
  }

  /*----------------- What are we doing ------------------------*/
  .case {
    display: flex;
    margin: 0 auto;
    padding-bottom: 120px;
  }
  .case-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-transform: capitalize;
  }
  .case-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin-top: 72px;
    margin-bottom: 0;
  }
  /*---------------------- Team-------------------------------------- */
  .team {
    padding: 120px 0;
  }
  .team-item {
    width: calc((100% - 72) / 4);
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }
}
