@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
  .four-section-icon {
    display: none;
  }
  .four-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .four-section-list {
    display: block;
    column-gap: 76px;
    padding-left: 0;
    margin: 0 auto;
  }
  .four-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .four-section-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 76px;
  }
}
