@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  /*--------------------- Banner -------------------------*/
  .banner {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .banner-title {
    width: 320px;
    margin-bottom: 72px;
    font-size: 36px;
  }
  .four-section-icon {
    display: none;
  }
  .four-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .four-section-list {
    display: block;
    column-gap: 76px;
    padding-left: 0;
    margin: 0 auto;
  }
  .four-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .four-section-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 76px;
  }
  .margin {
    margin-bottom: 0;
  }
  .case {
    display: none;
  }
  /*----------------------------- Team ---------------------------------*/
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .team-item {
    margin-top: 74px;
  }

  /* ------------------------------Customers---------------------- */
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 16) / 2);
  }
  /*---------------------------- Footer ----------------------------*/
  .footer {
    padding: 96px 0;
  }
  .flex {
    display: block;
    margin: 0 auto;
  }
  .footer-link {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  .footer-text {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  /*------------------------------- Social Media -----------------------*/
  .socail-media {
    display: block;
    margin: 0 auto;
    margin-bottom: 72px;
  }
  .social-media-title {
    margin-top: 72px;
    display: flex;
    justify-content: center;
  }

  /* -------------------------Subscribe------------------------------ */
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }
  .subs-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .input-subs {
    min-width: 398px;
  }
  .subs-btn {
    margin-top: 16px;
  }
}
