@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  /* --------------------------- Header ------------------------- */
  .header {
    height: 70px;
    margin: 0;
  }
  .header .container {
    margin: 0;
  }
  .header-list {
    display: none;
  }
  /*--------------------- Header Mobile--------------------------- */
  .container-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #ffffff;
  }
  .mobile-container {
    height: 100%;
    max-height: 796px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 80px 24px 40px 24px;
  }
  .mobile-close-btn {
    border-radius: 50%;
    border: 1px solid;
    background-color: #e7e9fc;
    border-color: #2e2f42;
    width: 24px;
    height: 24px;
    padding: 8px;
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
  }
  .close-btn-icon {
  }
  .mobile-menu {
  }
  .mobile-menu-catalog {
    padding-left: 16px;
    margin-top: 0;
  }
  .mobile-menu-item {
    list-style-type: none;
    margin-bottom: 40px;
  }
  .mobile-menu-link {
    text-decoration-line: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
  }
  /* .mobile-menu-link:hover {
    color: var(--hover-color);

  } */
  .current {
    color: #404bbf;
  }
  .contacts-social {
  }
  .mobile-menu-list {
    list-style-type: none;
    padding-left: 16px;
  }
  .mobile-tel {
    margin-bottom: 40px;
  }
  .contact-tel {
    text-decoration-line: none;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
  }
  .mobile-mail {
    margin-bottom: 40px;
  }
  .contact-mail {
    text-decoration-line: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .mobile-social-list {
    list-style-type: none;
    margin-bottom: 0;
    padding-bottom: 40px;
    display: flex;
    gap: 56px;
    align-items: center;
    justify-content: start;
    padding-left: 16px;
  }
  .mobile-social-item {
    width: calc((100% - 168px) / 4);
  }
  .mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    border-radius: 50%;
  }
  .mobile-social-icon {
    fill: #f4f4fd;
  }
  /*--------------------- Banner -------------------------*/
  .banner {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .banner-title {
    width: 320px;
    margin-bottom: 72px;
    font-size: 36px;
  }
  .four-section-icon {
    display: none;
  }
  .four-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .four-section-list {
    display: block;
    column-gap: 76px;
    padding-left: 0;
    margin: 0 auto;
  }
  .four-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .four-section-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 76px;
  }
  .margin {
    margin-bottom: 0;
  }
  .case {
    display: none;
  }
  /*----------------------------- Team ---------------------------------*/
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .team-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0 auto;
  }

  .team-item {
    margin-bottom: 74px;
  }

  /* ------------------------------Customers---------------------- */
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 16) / 2);
  }
  /*---------------------------- Footer ----------------------------*/
  .footer {
    padding: 96px 0;
  }
  .flex {
    display: block;
    margin: 0 auto;
  }
  .footer-link {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  .footer-text {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  /*------------------------------- Social Media -----------------------*/
  .socail-media {
    display: block;
    margin: 0 auto;
    margin-bottom: 72px;
  }
  .social-media-title {
    margin-top: 72px;
    display: flex;
    justify-content: center;
  }

  /* -------------------------Subscribe------------------------------ */
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }
  .subs-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .input-subs {
    min-width: 398px;
  }
  .subs-btn {
    margin-top: 16px;
  }
}
