@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* ------------------------Header -------------------*/
  header {
  }
  header .container {
    height: 72px;
  }
  .container-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .header-list {
    display: flex;
    margin: 0;
    gap: 40px;
    padding-left: 0;
  }
  .header-address .header-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
  }
  /*--------------------- Banner -------------------------*/
  .banner {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .banner-title {
    width: 496px;
    font-size: 56px;
    margin-bottom: 48px;
  }
  .four-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .four-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .four-section-item {
    width: calc((100% - 24px) / 2);
  }
  .four-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: left;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .four-section-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 100%;
    margin: 0 auto;
  }
  .case {
    display: none;
  }
  /*--------------------- Team -------------------*/
  .team {
    padding: 96px;
  }
  .team-title {
    margin: 0 auto;
    margin-bottom: 74px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
    margin: 0 auto;
  }
  /* ----------------------------Customers------------------------ */
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  /*---------------------------- Footer ----------------------------*/
  .footer {
    padding: 96px 0;
  }
  /* .container flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 565px;
  /* } */
  .footer-link {
    display: flex;
    justify-content: left;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 565px;
  }
  .social-media-title {
    margin-top: 0;
    justify-content: left;
  }
  .subs-form {
    display: flex;
    flex-direction: row;
  }
  .input-subs {
    min-width: 264px;
  }
  .subs-btn {
    margin-top: 0;
    margin-left: 24px;
  }
  .subs-title {
    display: flex;
    justify-content: left;
    margin-left: 0;
  }
}
